html {
    width: 100%;
    height:100%;
}
body {
    width: 100%;
}
body {
    background: url(https://bit.ly/2We6WMB)no-repeat center center/cover;
}
h1 {
    color:whitesmoke;
    text-align: center;
    font-family:palantino;
    }
p {
    font-size:28px;
    color:whitesmoke;
    font-family: optima;
    text-align: center;
}
form {
    font-size:28px;
    color:#38738B;

}
.container {
    margin-top:50px;s
}
span {
    color: white;
    font-size:30px;
    padding:10px;
    border:2px solid #38738B;
    border-radius: 40px;
}